// TODO get button dimensions in windows
button {
  background: rgb(241, 126, 0);
  background: linear-gradient(90deg, $orange 0%, $light-orange 100%);
  color: white;
  font-size: 1.071rem;
  padding: 0.4025rem 1.071rem;
  border: none;
  border-radius: 50px;
}
