// Style the form elements!

form h2 {
  margin: 0;
  line-height: 1;
}

form p {
  margin: 10px 0;
  line-height: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: none;
  padding: 0;
}

input,
select {
  height: 50px;
  border-radius: $small-radius;
  border: 1px solid #c9d2d8;
  width: 100%;
  margin: 0;
}

input:focus,
select:focus {
  outline-color: $light-orange;
}

input {
  padding-left: 16px;
}

select {
  background-color: white;
  padding-left: 0.6rem;
}

.accessible-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

fieldset.checkboxes {
  background: $light-grey;
  border-radius: $large-radius;
  margin: 0;
  gap: 0;
}

.checkboxes label {
  color: black;
  height: 55px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 16px;
  border: 2px solid transparent;
}

.checkboxes label.checked {
  border: 2px solid $orange;
  border-radius: $large-radius;
  background: white;
}

.checkboxes i {
  visibility: hidden;
  background: $orange;
  height: 20px;
  width: 20px;
  position: absolute;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

.checkboxes .checked i {
  visibility: visible;
}

// TODO get the circle color
input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  margin-right: 0.875rem;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 0.15em solid $text;
  border-radius: 50%;
}

fieldset.expiration {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

fieldset.expiration label {
  width: 32%;
}

@media screen and (min-width: 768px) {
  form {
    display: flex;
    justify-content: flex-start;
    gap: $column-gutter;
  }

  fieldset {
    max-width: 266px;
  }

  fieldset.user-info,
  fieldset.address {
    flex-direction: row;
  }

  fieldset.user-info label:first-child {
    max-width: 157px;
  }

  fieldset.address {
    flex-wrap: wrap;
  }

  fieldset.address label:first-child,
  fieldset.address label#postal-code {
    width: 100%;
  }

  fieldset.address label {
    width: 30%;
  }

  fieldset.address label#city,
  fieldset.address label#province {
    flex-grow: 999;
  }
}

@media screen and (min-width: 1000px) {
  fieldset {
    max-width: 266px;
  }
}
