.summary {
  background: $light-grey;
  padding: 1rem;
  border-radius: $large-radius;
  width: 100%;
  margin-top: 1.625rem;
}

.total {
  display: flex;
  justify-content: space-between;
}

.summary h2 {
  font-weight: 400;
  text-align: center;
  color: $text;
}

.summary h2,
.summary h3 {
  font-size: 0.875rem;
}

@media screen and (min-width: 1000px) {
  .summary {
    flex-direction: column;
    margin-top: 0;
  }
}
